#topBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #efefef;
}

nav,
header,
.create-todo {
  font-size: 2em;
  margin: 10px;
}

form {
  margin: 10px;
}

.todo-item * {
  display: inline;
  margin: 0 10px;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #efefef;
  text-align: center;
}
