/* pallette
#04587F
#B01D01
#DA7E01
*/

html {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  color: white;
}

#topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #04587F;
  border-radius: 3px 3px 0 0;
}

nav,
header,
.create-todo {
  font-size: 2em;
  margin: 10px;
}

form {
  margin: 10px;
}

/*input[type=checkbox] {
  -webkit-transform: scale(1.5);
  padding: 5px;
}*/

.delete-button, .create-todo {
  font-family: Helvetica;
  font-weight: bold;
  border: 1px solid black;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
}

.checked {
  opacity: .4;
}

.checked p {
  text-decoration: line-through;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  background-color: #DA7E01;
  margin: 10px;
  font-size: 1.4em;
  border-radius: 10px;
  text-decoration: underline;
}

.todo-item * {
  display: inline;
  margin: 10px;
}

.todo-item p {
  margin: 12px 0;
}

.completed {
  text-decoration: line-through;
}

#completedSection h3{
  text-align: center;
}

#askToInstall {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #efefef;
  text-align: center;
  font-size: 2em;
  padding: 10px;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #04587F;
  text-align: center;
  border-radius: 0 0 3px 3px;
}
